{% extends 'main/base.html' %}
{% load static %}
<body>
{% block content %}
    <main>
        <section class="slider-area slider-area2" style="margin-top: 40px; height: 200px">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption" style="margin-top: 40px; margin-bottom: 10px">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Наши курсы</h1>

                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'courses' %}">Курсы</a></li>
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Courses area start -->
        <div class="courses-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-9">
                        <div class="section-tittle text-center mb-55">
                            <h2>Наши рекомендуемые курсы</h2>
                        <div class="row justify-content-center">
                        <li><a style="color: black" href="{% url 'courses' %}">|ㅤВсеㅤ|ㅤ</a></li>
                        {% for c in cats %}
                        {% if c.course__count > 0 %}
                    	{% if c.pk == cat_selected %}
	                 	<li class="selected" style="color: black">{{c.name}}ㅤ|ㅤ</li>
	                    {% else %}
	                 	<li><a href="{{ c.get_absolute_url }}" style="color: black">{{c.name}}ㅤ|ㅤ</a></li>
                    	{% endif %}
                        {% endif %}
                        {% endfor %}
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for c in courses %}
                    <div class="col-lg-4">
                        <div class="properties properties2 mb-30">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#">
                                    {% if c.image %}
		                                <p><img src="{{c.image.url}}"></p>
		                            {% endif %}
                                    </a>
                                </div>
                                <div class="properties__caption">
                                    <p>{{c.cat}}</p>
                                    <h3><a href="#">{{c.title}}</a></h3>
                                    <p>{{c.content}}</p>
                                    <div class="properties__footer d-flex justify-content-between align-items-center">
                                        <div class="restaurant-name">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                            <p>{{c.time_update|date:"d-m-Y H:i:s"}}</p>
                                            <p>{{c.author}}</p>
                                        </div>
                                        <div class="price">
                                            <span>$135</span>
                                        </div>
                                    </div>
                                    <a href="#" class="border-btn border-btn2">Find out more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>